body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: black;
  }

  header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items:right;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  header h1 {
    font-size: 24px;
    text-align: center;
  }
  
  main .content {
    text-align: center;
    padding: 20px;
    border-radius:56px;
    
  }
  
  main .content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  main .content .image-container img {
    width: 100%;
    max-width: 1200px;
    border-top: 1.5px solid rgba(255, 255, 255, 1);
    border-radius: 56px;
    border: 1.5px ;


  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .projects .project {
    text-align: left;
    font-family: Inria Sans;
    font-weight:400;
    font-size:20px;
    line-height:24px
  }
  
  .projects .project span{
    text-align: left;
    font-family: Inria Sans;
    font-weight:400;
    font-size:17px;
    line-height:24px
  }
  
  .projects .project img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
  }
  
  .description {
    text-align: center;
    margin: 40px 20px;
  }
  
  .contact h3{
    text-align: center;
    margin: 40px 20px;
  }
  .contact p{
    font-family:Inria Sans;
    text-align: center;
    margin: 40px 20px;
  }
  .contact form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  footer p{
    text-align: left;
    padding: 20px;
    background-color:rgba(0, 0, 0, 1);
    line-height: 32px;
    color:rgba(255, 255, 255, 0.6); 
    
  }